@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}
/*propiedades para todos esos elementos*/
h1,h2,a{
    font-weight: 600;
}
/*para todas los links*/
a{
    text-decoration: none;
}
/*tamaño foto cabecera*/
.cabecera img{
    width: 150px;
}
/*diseño de la cabecera*/
.cabecera{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 0px;
    position: fixed;
    width: 100%; 
    z-index: 1; 
}
/*diseño link de la cabecera*/
.links a{
    color: black;
    padding-right: 35px;
}
/*una pequeña animacion para cuando pasas
el mouse por encima de los links de la cabecera*/
.links a:hover{
    text-decoration: underline;
}
/*decoro y posiciono la imgen del hero*/
.hero{
    background-image: url(imagenes/FondoHero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
/*pongo el difuminado rosa arriba de la foto*/
.hero::before{
    content: "";
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background:linear-gradient(30deg,#da124e,#f54d60);
    opacity: 0.7;
}
/*decoro el h1 del texto*/
.contHero h1{
    font-size: 85px;
    color: white;
}
/*decoro el p del texto*/
.contHero p{
    font-size: 26px;
    color: white;
    padding-top: 30px;
    padding-bottom: 0px;
    line-height: 38px;
}
/*decoro el a del texto*/
.contHero a{
    background-color: white;
    color: #F53A50;
    border-radius: 15px;
    padding: 18px 20px;
    font-size: 20px;
    transition-property: background-color,color;
    transition-duration: 0.6s;
    font-weight: 600;
}
/*le doy animacion al link del hero*/
.contHero a:hover{
    background-color: #F53A50;
    color: white;
}
/*decoro y acomodo en el lugar a todo el contenido
del hero*/
.contHero{
    width: 38%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: absolute;
    left: 12%;
    top: 27%;
}
/*proporcion de la section*/
.productos{
    height: 90vh;
}
/*modifico el h1*/
.productos h1{
    display: flex;
    justify-content: center;
    color: #F53A50;
    font-size: 55px;
    padding-top: 35px;
    padding-bottom: 40px;
    width: 30%;
    margin: 0 auto;
}
/*modifico las cajas*/
.caja{
    width: 19%;
    height: 69vh;
    display: flex;
    flex-direction: column;
}
/*modifico las imagenes de las cajas*/
.imgcajas{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgb(138, 137, 137);
}
/*modifico el subtitulo de las cajas*/
.cajasProductos .subtitulo{
    color: #F53A50;
    font-weight: 600;
    font-size: 20px;
    padding-top: 45px;
    padding-bottom: 17px;
}
/*modifico el texto de las cajas*/
.cajasProductos .texto{
    font-size: 14px;
    color:black;
    line-height: 28px;
}
/*modifico los botones de las cajas*/
.cajasProductos a{
    background-color: #F53A50;
    color: white;
    margin-top: 25px;
    width: 50%;
    padding: 15px 22px;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgb(127, 127, 127);
    display: flex;
    justify-content: center;
    transition-property: background-color,color;
    transition-duration: 0.6s;
    font-weight: 600;
}
/*le doy animacion a los botones*/
.cajasProductos a:hover{
    background-color: white;
    color: #F53A50;
}
/*modifico tamaño de las 3 cajas en conjunto*/
.cajasProductos{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
}
/*modifique tamaño y fondo del ebook*/
.ebook-top{
    height: 45vh;
    background:linear-gradient(30deg,#da124e,#f54d60);
}
/*modifique el contenido*/
.ebook-topCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
    margin: 0 auto;
    padding-top: 60px;
    
}
/*modifique el h1*/
.ebook-topCont h1{
    font-size: 55px;
    color: white;
}
/*modifique el texto*/
.ebook-topCont p{
    color: white;
    padding-top: 28px;
    font-size: 19px;
    line-height: 30px;
}
/*hice el botton con una transicion*/
.ebook-topCont a{
    background-color: white;
    color: #F53A50;
    margin-top: 25px;
    padding: 14px 22px;
    font-size: 17px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    transition-property: background-color,color;
    transition-duration: 0.6s;
    font-weight: 600;
}
/*animacion del boton*/
.ebook-topCont a:hover{
    background-color: #F53A50;
    color: white;
}
/*cambie el tamaño del div*/
.VideoPerro{
    height: 60vh;
}
/*modifique el video del perro*/
.VideoPerro video{
    height: 60%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}
/*modifique y acomode el h1*/
.VideoPerro h1{
    color: white;
    font-size: 68px;
    width: 25%;
    line-height: 95px;
    left: 57%;
    top: 250%;
    position: absolute;
    z-index: 0;
}
/*le puse una capa rosa al video del perro*/
.capa{
    position: absolute;
    height: 60%;
    width: 100%;
    background: #fc697b;
    opacity: 0.7;
    z-index: -1;
    left: 0;
    top: 235%;
    mix-blend-mode: overlay;
}
/*separo y dimensiono la seccion about*/
.about{
    
    height: 68vh;
    display: flex;
    justify-content: space-evenly;
}
/*dimensiono la parte informativa del about*/
.aboutInfo{
    width: 26%;
    margin-left: 60px;
}
/*decoro el h1 del about*/
.aboutInfo h1{
    color: #F53A50;
    font-weight: 600;
    font-size: 53px;
    padding-top: 55px;
}
/*decoro el texto del about*/
.aboutInfo p{
    color: black;
    font-size: 17px;
    line-height: 30px;
    padding-top: 30px;
}
/*muevo las cajas*/
.aboutCajas{
    width: 21%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 10px;
    margin-right:140px;
}
/*decore y le di borde a las cajas*/
.aboutCajas .cajas{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 15px 0px;
    padding-left: 58px;
    box-shadow: 3px 3px 20px rgb(127, 127, 127);

}
/*puse la primera p en negrita*/
.aboutCajas .cajas .negritas{
    font-weight: 600;
    font-size: 15px;
    
} 
/*modifique el texto*/
.aboutCajas .cajas .texto{
    font-size: 14px;
    padding-top: 7px;
}
/*movi y modifique la imagen*/
.aboutCajas .aboutImg1{
    position: absolute;
    left: 55.5%;
    top: 305.5%;
    width: 54px;
    border-radius: 7px;
}
/*movi y modifique la imagen*/
.aboutCajas .aboutImg2{
    position: absolute;
    left: 55.5%;
    top: 325%;
    width: 54px;
    border-radius: 7px;
}
/*movi y modifique la imagen*/
.aboutCajas .aboutImg3{
    position: absolute;
    left: 55.5%;
    top: 344.5%;
    width: 54px;
    border-radius: 7px;
}
/*hice la forma que esta atras de las cajas*/
.forma{
    background:linear-gradient(1deg,#da124e,#f54d60);
    opacity: 0.85;
    width: 23%;
    height: 72%;
    position: absolute;
    left: 71%;
    top: 295%;
    border-radius:0px 0px 230px 0px ;
    z-index: -1;
}
/*doy tamaño y fondo a la section*/
.reviews{
    background-color: rgba(169, 169, 148, 0.1);
    height: 85vh;
}
/*modifique el h1*/
.reviews h1{
    font-size: 55px;
    width: 15%;
    color: #F53A50;
    margin: 0 auto;
    padding-top: 110px;
    padding-bottom: 60px;
}
/*puse la informacion uno al 
lado del otro*/
.reviews .items{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
/*le di tamaño a cada cuadro de info*/
.items .informacion{
    width: 26%;
}
/*modifique todos los h2*/
.items .informacion h2{
    font-size: 34px;
    color: #F53A50;
}
/*modifique todos los p*/
.items .informacion p{
    padding-top: 35px;
    font-size: 16px;
    color: black;
    line-height: 29px;
}
/*coloque la imagen*/
.reviews img{
    position: absolute;
    left: 12%;
    top: 425%;
}
/* modifique la seccion */
.producUni{
    height: 78vh;
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
}
/*modifique el h1 del texto*/
.producUni .texto h1{
    font-size: 55px;
    color: #F53A50;
    padding-bottom: 40px;
}
/*modique los parrafos*/
.producUni .texto p{
    font-size: 16px;
    color: black;
    padding-bottom: 25px;
    line-height: 28px;
}
/*puse con color rosa la primera frase*/
.producUni .texto span{
    color:#F53A50;
    font-weight: 600;
}
/*acomode la imagen*/
.producUni img{
    width: 420px;
}
/*Modique esa section*/
.warranty{
    height: 45vh;
    background:linear-gradient(30deg,#da124e,#f54d60);
}
/*Modifico el contenido*/
.warranty .cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
    margin: 0 auto;
    padding-top: 60px;
    
}
/*modifique el h1*/
.warranty h1{
    font-size: 55px;
    color: white;
}
/*modifique el parrafo*/
.warranty p{
    color: white;
    padding-top: 28px;
    font-size: 17px;
    line-height: 30px;
    
}
/*modifique los botones*/
.warranty a{
    background-color: white;
    color: #F53A50;
    margin-top: 29px;
    padding: 15px 26px;
    font-size: 17px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    transition-property: background-color,color;
    transition-duration: 0.6s;
    font-weight: 600;
}
/*le di animacion */
.warranty a:hover{
    background-color: #F53A50;
    color: white;
}
/*es el tamaño la section contacto*/
.contacto{
    height: 90vh;
}
/*es el tamaño y centrado del formulario*/
.formulario{
    width: 40%;
    margin: 0 auto;
/*modifique el h1*/
}
.formulario h1{
    font-size: 55px;
    color: #F53A50;
    width: 35%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 30px;

}
/*cambio de color el asterico*/
.abajo span{
    color: #F53A50;
    font-size: 15px;
}
/*los inputs pegados*/
.pegados{
    display: flex;
    justify-content: space-between;
}
/*los inputs de abajo*/
.abajo{
    display: flex;
    flex-direction: column;
}
/*diseño de los labels*/
.formulario label{
    color: grey;
    font-size: 14px;
    padding-top: 25px;
    padding-bottom: 15px;
}
/*diseño de los placeHolder*/
.formulario input{
    color: black;
    font-size: 16px;
    outline: none;
}
/*diseño de todas las cajas*/
.formulario input[type=text],input[type=email]{
    border-radius: 13px;
    border-style: none;
    box-shadow: 3px 3px 5px rgb(184, 183, 183);
    
}
/*diseño de las cajas de inputs de abajo*/
.abajo input[type=text],input[type=email]{
    padding: 18px 0px;
    padding-left: 17px;
    padding-right: 75px;
}
/*diseño de las cajas de inputs*/
.abajo .grande[type=text]{
    padding-bottom: 150px ;
}
/*diseño de los button*/
.abajo button{
    cursor: pointer;
    background-color: #F53A50;
    color: white;
    margin: 0 auto;
    margin-top: 34px;
    width: 32%;
    font-size: 17px;
    border-radius: 10px;
    border-style: none;
    padding: 15px 0px;
    box-shadow: 3px 3px 20px rgb(127, 127, 127);
    transition-property: background-color,color;
    transition-duration: 0.6s;
    font-weight: 600;
}
/*diseño y animacion para el boton*/
.abajo button:hover{
    background-color: white;
    color: #F53A50;
}
/*diseño del div de redes*/
.redes{
    background:linear-gradient(30deg,#da124e,#f54d60);
    height: 20vh;
    display: flex;
}
/*cambiar el div de los logos*/
.logos{
    width: 9%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
/*cambios de color de los iconos*/
.logos i,a{
    color:white;
    font-size:23px;
    margin-top: 90px;
    transition-property:color;
    transition-duration: 0.5s;
}
/*animacion de los iconos*/
.logos i:hover{
    color: black;
}
/*la imagen del perro*/
.creditos img{
    position: absolute;
    left: 19%;
    top: 668.4%;
}
/*texto de copy*/
.copy{
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    font-size: 13px;
    color: #f54d60;
}